.cadastro__email {
    border-bottom: 1px solid var(--preto);
    padding: 2em;
}

.titulo-cadastro__email {
    color: var(--branco);
    font-size: 18px;
    font-weight: 500;
}

.texto-cadastro__email {
    margin: 1em 0;
}

.email__campo {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 20px;
    width: 85%;
    color: var(--azul);
}

.email__campo::placeholder {
    color: var(--azul);
    font-family: var(--fonte-principal);
    background: url("../img/email-icone.svg") no-repeat;
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {
    .cadastro__email {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__descricao {
        margin-right: 1em;
        width: 30%;
    }

    .titulo-cadastro__email {
        font-size: 24px;
    }

    .email__campo {
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .cadastro__email {
        padding: 3em 20vw;
    }
}